os: linux
dist: xenial
language: python

python:
  - "3.7"
  - "3.6"
  - "3.5"
  - "3.4"
  - "2.7"

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install -r requirements-tests.txt
script:
  - pytest --cov=calculator/
after_success:
  - coveralls
